*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .header{
       width: 100%;
       padding: 0 5%;
       background: #cddbcc;
 }
 nav{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 0;
 }
nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #3f51b5;
}   
.text-area{
    margin-top: 100px;
    max-width: 100px;
    background: #f7efef;
}
.text-area h3{
    font-size: 20px;
    font-family: sans-serif;
}  
.resource{
    margin: 0;
    padding:0;
    background: #f7efef;
}   
.resource h3{
    position: absolute;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}   
