*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}

 .header{
       width: 100%;
       padding: 0 5%;
       background: #0a8452;
 }
 nav{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 0;
      background: #0a8452;
 }
nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 30px;
     background: #0a8452;
}
nav ul li a{
    text-decoration: none;
    color: #05186d;
}   

p{
    font-size: 30px;
    font-family: sans-serif;
    background: #f7efef;
}  
.resource{
    margin: 0;
    padding:0;
    background: #f7efef;
}   
.resource h3{
    position: absolute;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}   
